.homePage{
	margin-top: 5%;
}
.cards{
	position: relative;
	width: 30%;
	height: 200px;
	border: 1px solid black;
	margin-left: 5px;
	/*padding-left: 10px;*/
	display: inline-block;
}
.post_user{
	bottom: 0;
	float:right;
	
	/*text-align: right;*/
}
.post_time{
	top: 0;
	position: absolute;
	width: 80%;
	text-align: right;
}
.post_text{
	width: 95%;
	position: relative;
}
.loginClass{
	/*margin: auto;*/
	/*margin-left: 10%;*/
	padding-top: 20px;
}