<div class="homePage" ng-controller="BlogCtrl">
	<div class="container">
		<div class="row">
			<div class="content_block">
				<div>
				<h3 align="center">{{blog_title}}</h3>
				</div>
				<div>
					<p align="center"> {{blog_content}}</p>
				</div>
				<div align="right">
					<h4><b>{{blog_creator}}</b></h4>
				</div>
			</div>
			<div ng-if="hasComment">
				<!-- <div ng-repeat="comm in comments" style="border: 1px dotted blue">
					<p >{{comm}}</p>
				</div> -->
				<ul class="collapsible" data-collapsible="accordion" ng-repeat="comm in comments" >
				    <li>
				      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{comm}}</div>
				      <!-- <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div> -->
				    </li>
				</ul>
			</div>
			<div class="comment_block">
				<div>
					<!-- <p>Add your Comment here</p>	 -->
				</div>
				<div>
					<textarea id="commentData" placeholder="add your comment here"></textarea>
					<button ng-click = "do_comment()">comment</button>
				</div>
			</div>
		</div>
	</div>
</div>