<!-- <div class="homePage">
	<div class="container">
		<div>
			<h3>Please share your blog here</h3>
		</div>
			<div>
			<form>
				Title: <input type="text" placeholder="Title for blog"></input>
				Post: <input type="text" id="post">
				<button id="dopost" ng-click="do_post()">Post</button>
			</form>
		</div>
	</div>
</div> -->
<div class="homePage container">
	<div class="row">
	    <form class="col s12">
	      <div class="row">
		    <div>
				<h4>Please share your blog here</h4>
			</div>
			<div class="input-field col s6">
	          <input  id="blog_title" type="text" class="validate">
	          <label for="blog_title">Title for blog</label>
	        </div>
	        <div class="input-field col s12">
	          <textarea id="post" class="materialize-textarea"></textarea>
	          <label for="post">Textarea</label>
	        </div>
	      </div>
	      <button class="btn waves-effect waves-light" type="submit" ng-click="do_post()" name="action">Submit
		    <i class="material-icons right">send</i>
		  </button>
	    </form>
  	</div>
</div>