<div class="header">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">E-Brainstrom</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" placeholder="Search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li>
        <li class="active"><a href="#iti" data-toggle="tab">Home</a> </li>
        <li><a href="#/post">Posts</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="#iti" data-toggle="tab">Home</a> </li>
        <li><a href="#/post">Posts</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>