<div class="header navbar-fixed">
    
  <nav>
    <div class="nav-wrapper" ng-controller="HomeController">
      <a href="#!" class="brand-logo">E-Brainstrom</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- <li>
          <form>
            <div class="input-field">
              <input id="search" type="search" placeholder="Search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </li> -->
        <li><a href="#iti" data-toggle="tab">Home</a> </li>
        <!-- <li><a href="#/login">Login</a></li> -->
        <li ng-if="loggedIn">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{name}}<!-- <i class="material-icons right">arrow_drop_down</i> --></a></li>
            <ul id="dropdown1" class="dropdown-content">
              <!-- <li><a href="#!">Fucks</a></li> -->
              <li><a href="#/post">New Post</a></li>
              <li class="divider"></li>
              <li><a href="#!" ng-click="logout()">Logout</a></li>
            </ul>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="#iti" data-toggle="tab">Home</a> </li>
        <li><a href="#/post">Posts</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<script>
        $(".dropdown-button").dropdown();
</script>